/* fira-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fira-sans-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@supports (min-height: 100dvh) {
  .min-h-\[100dvh\] {
    min-height: 100dvh;
  }
}

@supports not (min-height: 100dvh) {
  .min-h-\[100dvh\] {
    min-height: 100vh;
  }
}
