---
import { Image } from "astro:assets";
import dracsLogo from "./_assets/dracs-logo.webp";
import LanguagePicker from "~/components/LanguagePicker.astro";
---

<header class="h-10 flex gap-4 items-center fixed top-0 left-0 w-full z-10">
  <Image src={dracsLogo} alt="" class="h-full w-auto" />
  <div>Dracs</div>
  <LanguagePicker />
</header>
