---
import { languages } from "~/i18n/languages";
import "./language-picker.css";
---

<select
  id="language-selector"
  class="text-[hsla(250,_14%,_80%,_1)] bg-[hsla(250deg_14%_95%_/_10%)] border pl-4 pr-8 py-1 border-[hsla(250deg_14%_95%_/_10%)] rounded appearance-none hover:border-[hsla(250,_14%,_80%,_1)] hover:text-[hsla(250,_14%,_90%,_1)] transition-colors cursor-pointer"
>
  {
    Object.entries(languages).map(([lang, label]) => (
      <option value={lang} selected={lang === Astro.params.lang}>
        <span>{label}</span>
      </option>
    ))
  }
</select>

<script>
  function onLanguageChange(e: Event) {
    const selectedLanguage = (e.currentTarget as HTMLSelectElement).value;
    const [_leadingSlash, _currentLang, ...rest] =
      window.location.pathname.split("/");
    const newPath = `/${selectedLanguage}/${rest.join("/")}`;
    window.location.pathname = newPath;
  }

  function changeLanguage() {
    const languageSelector = document.getElementById("language-selector");
    if (!languageSelector) throw new Error("language-selector not found");
    languageSelector.removeEventListener("change", onLanguageChange);
    languageSelector.addEventListener("change", onLanguageChange);
  }

  document.addEventListener("astro:page-load", () => {
    changeLanguage();
  });

  document.addEventListener("astro:after-swap", () => {
    changeLanguage();
  });
</script>
