---
import { languages } from "~/i18n/languages";
import "./language-picker.css";
---

<select
  id="language-selector"
  class="bg-[hsla(250deg_14%_95%_/_10%)] border pl-4 pr-8 py-1 border-[hsla(250deg_14%_95%_/_10%)] rounded appearance-none"
>
  {
    Object.entries(languages).map(([lang, label]) => (
      <option value={lang} selected={lang === Astro.params.lang}>
        <span>{label}</span>
      </option>
    ))
  }
</select>

<script>
  import { navigate } from "astro:transitions/client";
  document.addEventListener("astro:page-load", () => {
    const languageSelector = document.getElementById("language-selector");
    if (!languageSelector) throw new Error("language-selector not found");
    console.log("languageSelector", languageSelector);

    languageSelector.addEventListener("change", (e) => {
      const selectedLanguage = (e.currentTarget as HTMLSelectElement).value;
      const [_leadingSlash, _currentLang, ...rest] =
        window.location.pathname.split("/");
      const newPath = `/${selectedLanguage}/${rest.join("/")}`;
      navigate(newPath);
    });
  });
</script>
