---
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";
const { page } = Astro.props;

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  return pages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return {
      params: { lang, slug: slug.join("/") || undefined },
      props: { page },
    };
  });
}

const { Content } = await page.render();
---

<MainLayout>
  <h1
    class="text-3xl text-[hsl(76deg_63%_49%)]"
    transition:name={`title-${Astro.props.page.slug.split("/").pop()}`}
  >
    {Astro.props.page.data.title}
  </h1>
  <div class="mb-4 italic">
    {
      new Date(Astro.props.page.data.publishDate).toLocaleDateString(
        Astro.params.lang,
        {
          day: "2-digit",
          month: "long",
          year: "numeric",
        }
      )
    }
  </div>
  <Content />
</MainLayout>
