---
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
const { page } = Astro.props;

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  return pages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return {
      params: { lang, slug: slug.join("/") || undefined },
      props: { page },
    };
  });
}

const { Content } = await page.render();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body>
    <div class="bg-primary text-secondary px-4 min-h-[100dvh] flex flex-col">
      <h1>post entry</h1>
      <Content />
    </div>
  </body>
</html>
