---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

console.log("allPosts", allPosts);
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <header></header>
    <main>
      <h1>{allPosts[0]?.data.title}</h1>
    </main>
    <footer></footer>
  </body>
</html>
