---
import { getCollection } from "astro:content";
import { languages } from "~/i18n/languages";
import { i18n } from "~/i18n/utils";
import MainLayout from "~/layouts/MainLayout.astro";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const allPosts = await getCollection("blog");

const posts = allPosts
  .filter((post) => post.data.lang === Astro.params.lang)
  .map((post) => ({
    ...post,
    slug: post.slug.split("/").pop(),
  }))
  .sort((a, b) => {
    return (
      new Date(b.data.publishDate).getTime() -
      new Date(a.data.publishDate).getTime()
    );
  });

i18n.locale(Astro.params.lang);
---

<MainLayout title="Dracs - Blog">
  <div class="bg-primary text-secondary px-4 flex-1 flex flex-col">
    <main class="flex-1">
      <!-- <h1>{i18n.t("home.title")}</h1> -->
      <ul class="flex flex-col gap-6">
        {
          posts.map((post) => {
            return (
              <li class="flex">
                <div class="flex flex-col items-center">
                  <span class="text-[3.75rem] leading-none">
                    {new Date(post.data.publishDate).toLocaleDateString(
                      Astro.params.lang,
                      { day: "2-digit" }
                    )}
                  </span>
                  <div class="text-[hsla(250,_14%,_80%,_1)] leading-none">
                    <span class="text-base capitalize leading-none">
                      {new Date(post.data.publishDate).toLocaleDateString(
                        Astro.params.lang,
                        { month: "short" }
                      )}
                    </span>
                    <span class="text-base capitalize ml-2 leading-none">
                      {new Date(post.data.publishDate).toLocaleDateString(
                        Astro.params.lang,
                        { year: "numeric" }
                      )}
                    </span>
                  </div>
                </div>
                <h3
                  class="ml-6 text-2xl text-[hsl(76deg_63%_49%)]"
                  transition:name={`title-${post.slug}`}
                >
                  <a href={`/${Astro.params.lang}/blog/${post.slug}`}>
                    {post.data.title}
                  </a>
                </h3>
              </li>
            );
          })
        }
      </ul>
    </main>
    <footer>
      <!-- <h2>I am the footer</h2> -->
    </footer>
  </div>
</MainLayout>
