---
import { Image } from "astro:assets";
import dracksLogo from "./_assets/dracs-logo.webp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-primary text-secondary">
    <header class="h-10 flex gap-4 items-center">
      <Image src={dracksLogo} alt="" class="h-full w-auto" />
      <div>Dracs</div>
    </header>
  </body>
</html>
