---
import { ViewTransitions } from "astro:transitions";
import Header from "~/components/Header.astro";
import Search from "~/components/Search.astro";
import "~/styles/base.css";
const { title } = Astro.props;
---

<html lang={Astro.params.lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
    <title>{title}</title>
    <slot name="head" />
    <script
      is:inline
      type="text/partytown"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body
    class="min-h-[100dvh] flex flex-col bg-primary w-11/12 max-w-5xl mx-auto pb-4"
  >
    <Header>
      <slot name="head" slot="head" />
    </Header>
    <div class="bg-primary text-secondary px-4 flex-1 flex flex-col">
      <div class="h-20"></div>
      <Search />
      <slot />
    </div>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1DGC2QQ40H"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1DGC2QQ40H");
    </script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          console.log("init", user);
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              console.log("login");
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
